@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1F2937;
    height: 450px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1000px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-bar-logo{
    font-size: 24px;
    font-weight: 500;
    width: 500px;
    color: #F9FAF8;
    text-align: left;
}

.nav-bar-links{
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav-bar-link {
    font-size: 18px;
    font-weight: 200;
    color: #e5e7e5;
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1000px;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.hero-text {
    width: 450px;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text-subtext {
    font-size: 18px;
    font-weight: 200;
    color: #e5e7e5;
}

.hero-button{
    padding-top: .7rem;
}
.hero-button button{
    background-color: #3882f6;
    color:#F9FAF8;
    border-radius: 5px;
    box-shadow: none;
    padding: .3rem 1rem .3rem 1rem;
    border: none;
}


.hero-button button:hover, .hero-button button:active,
.hero-button button:active {
    box-shadow: none;
}

.hero-image {
    width: 550px;
    
}

.hero-image-holder{
    margin-left: 3rem;
    background-color: gray;
    height: 190px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

.info-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 800px;
    gap: 4rem;
    margin: auto;
    justify-content: center;
}

.info-box {
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.info-texts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 800px;
    gap: 4.3rem;
    margin: auto;
    justify-content: center;
    padding: .5rem 0 5rem 0;
}

.info-text {
    width: 100px;
    font-size: 10px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 5rem 0 4rem 0;
    display: grid;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    width: 60%;
    margin: auto;
}

.quote-author {
    width: 60%;
    margin: auto;
    font-weight: 600;
    text-align: right;
}

.call {
    padding: 4rem 0 4rem 0;
}

.call-area {
    background-color: #3882f6;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 800px;
    margin: auto;
    border-radius: 5px;
    padding: 3rem 4rem 3rem 4rem;
}

.call-text {
    width: 60%;
}

.call-button {
    width: 40%; 
    display: flex;
    justify-content: center;
}

.call-bold {
    color: #f9faf8;
    font-size: 20px;
    font-weight: 600;
}

.call-normal {
    color: #f9faf8
}

.call-button button {
    background-color: #3882f6;
    color:#F9FAF8;
    border-radius: 5px;
    box-shadow: none;
    padding: .3rem 1rem .3rem 1rem;
    border: 2px solid #F9FAF8;
}

.footer {
    padding: 3rem 0 3rem 0;
    background-color: #1F2937;
}

.footer-text {
    text-align: center;
    color: #F9FAF8;
}